:host {
  display: block;
  padding: 5rem 0;

  .form {
    width: 80vw;
    margin: 0 auto;
    position: relative;

    .search {
      &__term {
        width: 80%;
      }

      &__property {
        width: 18%;
        position: absolute;
        right: 0;
      }
    }
  }

  .card {
    width: 80vw;
    margin: 0 auto;
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
    position: relative;

    .mat-h3 {
      position: absolute;
      right: 1.6rem;
    }
  }
}
