:host {
  display: block;
  padding: 5rem 0;

  .form {
    width: 80vw;
    margin: 0 auto;
    position: relative;

    .search {
      &__term {
        width: 80%;
      }

      &__property {
        width: 18%;
        position: absolute;
        right: 0;
      }

      @media screen and (max-width: 850px) {
        &__term {
          width: 75%;
        }

        &__property {
          width: 23%;
        }
      }

      @media screen and (max-width: 650px) {
        &__term {
          width: 70%;
        }

        &__property {
          width: 28%;
        }
      }

      @media screen and (max-width: 550px) {
        &__term {
          width: 65%;
        }

        &__property {
          width: 33%;
        }
      }
    }
  }

  .card {
    width: 80vw;
    margin: 0 auto;
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
    position: relative;

    .mat-h3 {
      position: absolute;
      right: 1.6rem;
    }
  }
}
