:host {
  display: block;
  padding: 5rem 0;

  .card {
    width: 80vw;
    margin: 0 auto;
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
    position: relative;

    .mat-h3 {
      position: absolute;
      right: 1.6rem;
    }
  }
}
